APP_NAME="AI Service"
CLIENT_URL=http://localhost:3000
DEBUG=True
ENVIRONMENT=development
PORT=8000

# Database
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=eco-light
DB_PORT=5432
DB_TYPE=local

# MQTT
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=

# MQTT Topics
MQTT_TOPIC_TRIGGER=camera/trigger
MQTT_TOPIC_REQUEST=ai/inference/request
MQTT_TOPIC_RESULT=ai/inference/result
MQTT_TOPIC_CONTROL=kelas/control

# Model
MODEL_PATH=yolov8n.pt

# Service Config
CAMERA_SOURCE=0
ID_KAMERA=1
SEND_INTERVAL=2
ZONE_FETCH_INTERVAL=60
CONF_THRESHOLD=0.25
IOU_THRESHOLD=0.45