DATABASE_URL=postgresql+asyncpg://eco:ecopass@db:5432/ecolightdb
MQTT_BROKER_HOST=broker
MQTT_BROKER_PORT=1883
MQTT_USERNAME=ecolight
MQTT_PASSWORD=ecopass
AI_SERVICE_URL=http://service_ai:5001
SECRET_KEY=ganti-di-production
REDIS_URL=redis://redis:6379