PORT=5000
NODE_ENV=development

CLIENT_URL='.com'

# Pilihan koneksi DB: local | neon | supabase
DB_TYPE='supabase'

# === LOCAL PG ===
DB_USER=postgres
DB_HOST=localhost
DB_NAME=your_db_name
DB_PASSWORD=root
DB_PORT=5432
DB_SSL=false

# === SUPABASE ===
SUPABASE_DATABASE_URL=your_supabase_url

# Konfigurasi Default Seed Admin
SEED_ADMIN_EMAIL=admin@ecolight.com
SEED_ADMIN_PASSWORD=Admin@12345

# Konfigurasi JWT
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_SECRET=your_jwt_secret_key

# Konfigurasi SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USE_SSL=false
SMTP_USER=your_email
SMTP_PASSWORD=your_app_password
FROM_EMAIL=no-reply@gmail.com

# Redis connection URL
REDIS_URL=your_redis_url

# === MQTT BROKER ===
MQTT_BROKER="your_mqtt_broker"
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=

# === ROOM ===
ROOM_ID=ROM-1464452b

# === MQTT TOPICS — AI Internal ===
MQTT_TOPIC_TRIGGER=camera/trigger
MQTT_TOPIC_REQUEST=ai/inference/request
MQTT_TOPIC_RESULT=ai/inference/result

# === MQTT TOPICS — Device Command (AI -> ESP32) ===
# Format: devices/{room_id}/light/{relay_channel}
# Format: devices/{room_id}/ac
# Format: devices/{room_id}/status/request
MQTT_TOPIC_DEVICE_BASE=devices

# === MQTT TOPICS — Device Energy (ESP32 -> Backend) ===
MQTT_TOPIC_ENERGY=devices/"your_room_id"/energy

# === MQTT TOPICS — Zone ===
MQTT_TOPIC_ZONE_RELOAD=ai/zone/reload
MQTT_TOPIC_ZONE_RESULT=ai/inference/result/

# === AUTOMATION CONFIG ===
OCCUPANCY_TIMEOUT_MINS=5
DEBOUNCE_TIME_MS=3000

# === AI SERVICE ===
AI_SERVICE_URL=http://localhost:8000

# Boot Recovery
BOOT_RECOVERY_DELAY=10
# Seconds to wait after MQTT connects before sending restore commands
# Set to 15-20s to give ESP32 time to boot and subscribe

# DB Health Check  
DB_MAX_RETRIES=20
DB_RETRY_INTERVAL=3
MQTT_MAX_RETRIES=20
MQTT_RETRY_INTERVAL=3
CAMERA_SECRET_KEY=ecolight_secret_2026